{% extends 'adminlte.html.twig' %}

{% block title %}CRUD{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.css" integrity="sha512-GgMRV6UXqOFCfW5B+j4bvTRCU9vGYA9o46NiaMUrlHGcSJHg68o7X7IGAPl+pvaApCjCU3C5MsWhgDGGkmaaPg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.css" integrity="sha512-dufHiZudcIxbGBWe8xgxnZZyrDstYWv60bXzUww0cl9az56Y86/qEzGDW3lYkQxCFmr/H79i2Kl+uip/KEmw7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Crud Field</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Crud</li>
                        <li class="breadcrumb-item active">Field</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Your Field</h3>
                <div class="card-tools">
                    <a href="{{ path('app_crud_index')}}" class="btn btn-tool">
                        <i class="fas fa-list"></i>
                    </a>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ crud.id }}</td>
                        </tr>
                        <tr>
                            <th>Entity_name</th>
                            <td>{{ crud.entityName }}</td>
                        </tr>
                        <tr>
                            <th>Form_name</th>
                            <td>{{ crud.formName }}</td>
                        </tr>
                        <tr>
                            <th>Route_name</th>
                            <td>{{ crud.routeName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-block mb-1" onclick="tambahField()">Tambah Field</button>
                <div class="card card-outline card-primary">
                    <div class="card-body">
                        <div id="field">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <button type="button" class="btn btn-primary" onclick="generate()" id="btnGenerate"><i class="fa fa-edit"></i> Generate</button>
                <div class="card card-outline card-primary mt-1" id="cardSetting">
                    <div class="card-body">
                        <form action="" id="formSetting">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="saveMethod" value="">
                            <div id="divField"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            getField();
        });

        function getField() {
            $.ajax({
                type: "GET",
                url: "{{ path('app_crud_detail_fields', {'id': crud.id}) }}",
                dataType: "JSON",
                success: function (response) {
                    if(response.length >= 1) {
                        var html = `<ul class="nav nav-pills flex-column">`;
                        $.each(response, function (indexInArray, valueOfElement) { 
                            html += `<li class="nav-item active">
                                    <a href="javascript:;" onclick="editField(`+valueOfElement.id+`)" class="nav-link">
                                        `+valueOfElement.name+`
                                    </a>
                                </li>`;
                        });
                        html += `</ul>`;
                        $('#field').html(html);
                    } else {
                        $('#field').html(`<div class="text-center">data field is empty</div>`);
                    }
                }
            });
        }

        function generateForm() {
            var html = `<div class="form-group">
                            <label>Name Property Entity</label>
                            <input type="text" class="form-control" name="nameField" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select name="typeField" class="form-control" required>
                                    <option value="">-</option>
                                    <option value="1">String</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="label">view table</label>
                            <select class="form-control" name="datatableField">
                                <option value=""></option>
                                <option value="1">Ya</option>
                                <option value="2">Tidak</option>
                            </select>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> simpan</button>`;
            return html;
        }

        function tambahField() {
            $('[name="saveMethod"]').val('save');
            var html = generateForm();
            $('#divField').html(html);
        }

        function editField(id) {
            $('[name="saveMethod"]').val('update');
            cardOverlayStart('cardSetting');
            $.ajax({
                type: "get",
                url: "/crud/detail/"+id+"/edit",
                dataType: "json",
                success: function (response) {
                    var html = generateForm();
                    $('#divField').html(html);
                    $('[name="id"]').val(id);
                    $('[name="nameField"]').val(response.name);
                    $('[name="typeField"]').val(response.type);
                    $('[name="datatableField"]').val(response.datatable);
                    cardOverlayStop('cardSetting');
                }
            });
        }

        $('#formSetting').submit(function (e) { 
            e.preventDefault();
            $.ajax({
                type: "post",
                url: "{{ path('app_crud_detail_save', {id: crud.id}) }}",
                data: $('#formSetting').serialize(),
                dataType: "JSON",
                success: function (response) {
                    Swal.fire({
                        title: "Notification !",
                        text: response.message,
                        icon: response.info
                    }).then(function(e) {
                        getField();
                    });
                },
                error: function (jqXHR) {
                    console.log(jqXHR.responseText);
                }
            });
        });

        function generate() {
            btnLoadingStart('btnGenerate');
            $.ajax({
                type: "GET",
                url: "{{ path('app_crud_generate', {id : crud.id}) }}",
                dataType: "json",
                success: function (response) {
                    Swal.fire({
                        title: "Notification !",
                        text: response.message,
                        icon: response.info
                    }).then(function (e) {
                        btnLoadingStop('btnGenerate');
                    });;
                }
            });
        }
    </script>
{% endblock %}
