{% extends 'adminlte.html.twig' %}

{% block title %}Level index{% endblock %}

{% block body %}
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Blank Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-tools">
                    <a href="{{ path('app_level_new')}}" class="btn btn-tool">
                        <i class="fas fa-plus"></i>
                    </a>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for level in levels %}
                        <tr>
                            <td>{{ level.id }}</td>
                            <td>{{ level.name }}</td>
                            <td>
                                <a href="{{ path('app_level_show', {'id': level.id}) }}" class="btn btn-sm btn-info">show</a>
                                <a href="{{ path('app_level_edit', {'id': level.id}) }}" class="btn btn-sm btn-primary">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

    </section>

</div>
{% endblock %}
