{{ form_start(form) }}
	{{ form_row(form.name) }}

    {% if (button_label != 'Update') %}
        {{ form_row(form.size) }}
        {{ form_row(form.path) }}
    {% else %}
        <div class="form-group">
            <label for="form_size">Size</label>
            <input type="text" class="form-control" value="{{ size }}" readonly>
        </div>
    {% endif %}

	<div class="row mb-2">
        {% if (button_label != 'Update') %}
            <div class="col-md-2" id="divimage_path">
                <img src="{{ asset('img/image.jpg') }}" alt="" class="img img-thumbnail img-preview " id="img-preview-path" style="width: 100px; height: 100px;">
            </div>
        {% endif %}
        {% if (button_label == 'Update') %}
            <div class="col-md-2" id="divcol_path">
                <img src="{{ asset(image_directory ~ 'file/' ~ file.path) }}" alt="" class="img img-thumbnail img-preview" id="img-old-path" style="width: 100px; height: 100px;">
            </div>
        {% endif %}
    </div>
    <hr>
    <button class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}