{% extends 'adminlte.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card card-dark card-outline">
            <div class="card-header">
                <h3 class="card-title">Pencarian</h3>
            </div>
            <form name="form_search">
                <input type="hidden" name="page" value="1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="row">Row</label>
                                <select name="row" id="row" class="form-control">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary fa-pull-right"><i class="fa fa-search"></i> Search</button>
                </div>
            </form>
        </div>

        <div class="card card-solid" id="cardUser">
            <div class="card-body pb-0">
                <div class="row" id="div_row">
                    
                </div>
            </div>
            <div class="card-footer">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    
                </ul>
            </div>
        </div>

    </section>

</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/library/jquery-pagination/dist/jq-paginator.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            reload_data();
        });

        $('[name="form_search"]').submit(function (e) { 
            e.preventDefault();
            reload_data();
        });
        
        function reload_data() {
            cardOverlayStart('cardUser');
            var profil_dir = '/{{ foto_profil_directory }}';
            $.ajax({
                type: "POST",
                url: "{{ path('app_user_ajax') }}",
                data: $('[name="form_search"]').serialize(),
                dataType: "JSON",
                success: function (response) {
                    var html = ``;
                    var data = response.data;
                    if (data.length < 1) {
                        html = `<div class="col-md-12"><div class="alert alert-info">No Data Display</div></div>`;
                    }
                    $.each(data, function (indexInArray, valueOfElement) { 
                        var profilImage = '{{ asset('img/image.jpg') }}';
                        if (valueOfElement.foto != '' && valueOfElement.foto != null) {
                            profilImage = profil_dir + valueOfElement.foto;
                        }
                        html += `<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                `+valueOfElement.username+`
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>`+valueOfElement.fullname+`</b></h2>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="`+profilImage+`" alt="user-avatar"
                                            class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="/user/`+valueOfElement.id+`/edit" class="btn btn-sm btn-primary">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`;
                    });
                    $('#div_row').html(html);

                    //pagination
                    $.jqPaginator('.pagination', {
                        totalPages: response.total,
                        visiblePages: 3,
                        currentPage: response.currentPage,
                        prev: '<li class="page-item"><a class="page-link" href="javascript:;">Previous</a></li>',
                        next: '<li class="page-item"><a class="page-link" href="javascript:;">Next</a></li>',
                        page: '<li class="page-item"><a class="page-link" href="javascript:;">{{ '{{page}}' }}</a></li>',
                        onPageChange: function (num, type) {
                            $('#p2').text(type + '：' + num);
                            if(type=='change') {
                                $('[name="page"]').val(num);
                                reload_data();
                            }
                        }
                    });
                    cardOverlayStop('cardUser');
                },
                error: function (jqXHR) {
                    console.log(jqXHR.responseText);
                }
            });
        }
    </script>
{% endblock %}